# Yog Sothtoh backend environment file
# For each optional value the default is indicated, otherwise the value is required.

# Development mode: this mode sets email usage to a local `aiosmtpd` server for
# development, enables debug, sets log level to debug and fakes Matrix
# registration using and internal fake API.
YOG_DEVELOPMENT_MODE

# Redis host
YOG_REDIS_HOST

# Redis port (defaults to 6379)
YOG_REDIS_PORT

# Redis password (defaults to no password)
YOG_REDIS_PASSWORD

# Redis database number (defaults to 0)
YOG_REDIS_DB

# Redis connection timeout in seconds (defaults to 2s)
YOG_REDIS_CONNECTION_TIMEOUT

# Time to live for objects stored in the cache in seconds (defaults to 48hs)
YOG_CACHE_TTL

# API prefix such as /api (must begin with slash) (defaults to no prefix)
YOG_API_PREFIX

# OPENAPI URL path (must begin with slash) (defaults to /openapi.json)
YOG_OPENAPI_URL_PATH

# DOCS URL path (must begin with slash) (defaults to /docs)
YOG_DOCS_URL_PATH

# REDOC URL path (must begin with slash) (defaults to /redoc)
YOG_REDOC_URL_PATH

# Frontend URL if any (with protocol) (defaults to no URL)
YOG_FRONTEND_URL

# Matrix homeserver URL (with protocol)
YOG_MATRIX_URL

# Matrix `registration_shared_secret` for homeservers with registration disabled
# IMPORTANT NOTE: this secret enables the creation of admin accounts! Handle with
# extra care. This application hardcodes the creation of user accounts only and I
# heavily recommend you to leave it like that.
# For more info see:
# https://github.com/matrix-org/synapse/blob/master/docs/admin_api/register_api.rst
YOG_MATRIX_REGISTRATION_SHARED_SECRET

# Timeout in seconds for requests done from the app (defaults to 5s)
YOG_REQUESTS_TIMEOUT

# Application allowed hosts (comma-separated): used to check the Host header
# and CORS. The first one is considered the main one.
YOG_ALLOWED_HOSTS

# Logging level: DEBUG, INFO, WARNING, ERROR, CRITICAL (defaults to INFO)
YOG_LOGLEVEL

# Enable debug mode: true, false (defaults to false)
YOG_DEBUG

# Email host (only secure SMTP servers that either use STARTTLS or TLS)
YOG_EMAIL_HOST

# Email port (defaults to 465)
YOG_EMAIL_PORT

# Email login information (defaults to no login)
YOG_EMAIL_USERNAME
YOG_EMAIL_PASSWORD

# Email connection timeout in seconds (defaults to 60s)
YOG_EMAIL_TIMEOUT

# Email uses TLS directly instead of STARTTLS: true, false (defaults to false)
# Emails can only be sent over an encrypted channel. By default, it uses
# STARTTLS unless TLS is directly supported. This setting is to simply indicate
# to use TLS directly.
YOG_EMAIL_USE_TLS

# Email address used in the `From` field of sent emails
YOG_EMAIL_SENDER_ADDRESS

# Email subject prefix (used as is, you might want to leave a space at the end)
# (defaults to "[Yog Sothtoth] ")
YOG_EMAIL_SUBJECT_PREFIX

# Managers email addresses, comma-separated
YOG_MANAGERS_ADDRESSES

# Contact email address to use in emails body to users and other parts
# (it will be public) (defaults to no contact address)
YOG_CONTACT_ADDRESS

# Token hashing parameters for Argon2 (defaults are more or less sane but requires
# testing, please adjust to needs: the goal is to take no more than 200ms on any
# hashing operation - note that the specs recommend 500ms but the operation we
# are doing doesn't require such level of security). Test the time taken in the
# server with:
# python -m timeit -r 10 -n 5 'import argon2; argon2.PasswordHasher(parallelism=8,
# memory_cost=(102400//16), time_cost=1).hash("12345678901")'
# Leave all params as default and test; then set parallelism equal to twice the
# number of cores; then lower the time_cost down to 1; finally start reducing
# memory_cost.
# Parallelism (number of threads) (defaults to 8)
YOG_ARGON2_PARALLELISM
# Memory cost in kibibytes (defaults to 102400)
YOG_ARGON2_MEMORY_COST
# Time cost in seconds (defaults to 2)
YOG_ARGON2_TIME_COST

# Rate limit (defaults to 5): define upper bound on the number of requests allowed.
# It uses an exponential back-off mechanism to prevent repeated requests attempt.
YOG_RATE_LIMIT
